<!DOCTYPE html>
<html>
  <head>
    <title>Bienvenido</title>
    <%-include('templates/default')-%>
  </head>
  <body>
	<div class="jumbotron-default">
		  <h1>Bienvendio</h1>
		  <p>Welcome to esto</p>
		  <p><a class="btn btn-primary btn-lg">Learn more</a> <a>    </a><a class="btn btn-primary btn-lg">Learn more</a></p>
	</div>
    
    
  </body>

</html>
