<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel='stylesheet' href='https://bootswatch.com/flatly/bootstrap.min.css' />
</head>
<body>
	<div class="form-group">
  		<label class="control-label" for="focusedInput">Focused input</label>
  		<input class="form-control" id="focusedInput" value="This is focused..." type="text">
	</div>
</body>
</html>